.img-upload{
    display: inline-block;
    position: relative;
    input[type="file"]{
        width: 100%;
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
        z-index: 10;
    }
    label.default-upload-theme{
        position: relative;
        background-image:url(./upload.png);
        background-size: 28px 25px;
        background-position: 21px 22.5px;
        background-repeat: no-repeat;
        border:1px dashed #cccccc;
        display: inline-block;
        background-color: #f3f3f7;
        width: 70px;
        height: 70px;
    }
}